/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
    
    body {
        margin: 20px 50px;
        background: rgb(219, 232, 240);
    }

    #title {
        text-align: center;
        margin: 0 auto 40px auto;
        width: 50%;
        border: 2px solid rgb(150, 136, 136);
        
    }

    #title h1 {
        margin: 0 auto;
        color: rgb(253, 255, 189);
        font-size: 2.6em;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        background: rgb(66, 213, 79);

    }

    .snowy_splash { 
        background-image: url('../img/snowy.png');
        background-size: 152px 144px, 163px 158px;
        background-position: 23% 41%, center;
        height: 50px;
    }

    .sox_splash {
        background-image: url('../img/sox.png');
        background-size: 175px 183px, 177px 165px;
        background-position: 34% 46%, center;
        height: 50px;
    }

    #container{
        margin:0 auto;
    }


    #board{
        width: 55%;
        float: left;
        margin-bottom: 25px;
    }

    #winner-container{
        width: 35%;
        float: right;
    }

    .current_player {
        width: 500px;
        height: 100px;
        float: right;
    }

      .current_player span {
      
        font-size: 1.8em;
        padding: 9px;
        background: white;
        border-radius: 25px;
        margin-left: -12px;
        
    }

      .current_player.sox {
        float: none;
    }

    .current_player.sox > span {
        margin-left: -110px;
    }

     .winner {
     
        font-size: 30px;
        color: green;
        float: right;
        width: 208px;
        height: 145px;
    }

    .winner > span {
        background: white;
        border-radius: 30px;
        padding: 16px;
        margin-left: -175px;
        font-size: 2.2em;
        color: red;
    }

    .row {
        width: 620px;
        height: 110px;
  
    }

    .cell {
        width: 199px;
        height: 149px;
        background:rgb(156, 239, 172);
        float: left;
        border: 2px solid black;

    }


    .cell:hover {
        
        opacity: 0.6;

    }
    
    .token {
        width: 140px;
        height: 120px;
        border-radius: 80px;
        border: 2px solid black;
        display: none;
        background-size: 20px 20px;
        margin: 10px 30px;
    }

    .snowy {
        
        background-image: url('../img/snowy.png'), url('../img/pink-cross.png');
        background-size: 100px 100px, 150px 150px;
        background-repeat: no-repeat;
        background-position: 30% 30%, center; 
    }

     .cell > .sox {
        background: rgb(86, 152, 255);
        background-image: url('../img/sox.png');
        background-size: 120px 100px;
        background-repeat: no-repeat;
        background-position: 50% 30%;
    }

    #winner-container > .sox {
        background: rgb(86, 152, 255);
        background-image: url('../img/sox.png');
        background-size: 120px 100px;
        background-repeat: no-repeat;
        background-position: 50% 30%;
        width: 146px;
        border-radius: 58px;

    }


    button {
        display: block;
        font-size: 1.1em;
        font-weight: bold;        
        padding: 10px 15px;
        margin: 20px auto;
        color: #F4F0A8;
        background-color: #D0D02E;
        background: -webkit-linear-gradient(#D0D02E, #AE4915);
        background: linear-gradient(#D0D02E, #AE4915);
        border: 0 none;
        border-radius: 3px;
        text-shadow: 0 -1px 0 #000;
        box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
        cursor: pointer;
        }


    button:hover {
        opacity: 0.8;
        font-size: 1.4em;
      
   
        }
    
    #reset{
        display: none;
    }



    .expandOpen{
    animation-name: expandOpen;
    -webkit-animation-name: expandOpen; 

    animation-duration: 1.2s;   
    -webkit-animation-duration: 1.2s;

    animation-timing-function: ease-out;    
    -webkit-animation-timing-function: ease-out;    

    visibility: visible !important; 
    }

    @keyframes expandOpen {
        0% {
            transform: scale(1.8);      
        }
        50% {
            transform: scale(0.95);
        }   
        80% {
            transform: scale(1.05);
        }
        90% {
            transform: scale(0.98);
        }   
        100% {
            transform: scale(1);
        }           
    }

    @-webkit-keyframes expandOpen {
        0% {
            -webkit-transform: scale(1.8);      
        }
        50% {
            -webkit-transform: scale(0.95);
        }   
        80% {
            -webkit-transform: scale(1.05);
        }
        90% {
            -webkit-transform: scale(0.98);
        }   
        100% {
            -webkit-transform: scale(1);
        }                   
    }














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
